$border: #2e2e2e;

body {
  //   background-color: black;
}

// section hero
.hero__overlay {
  filter: brightness(0.8) invert(100%);
}
.hero__inner {
  h2 {
    font-size: 3.2rem;
    color: black;
    margin-bottom: 1rem;
  }
  p {
    color: black;
  }
}

.row {
  display: flex;
  gap: 2%;
}

.column {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 2rem;
  text-transform: initial;
}

//Section
.index-section {
  padding: 0;
}
.section {
  .title {
    padding-bottom: 2rem;
  }
}
.cta {
  a {
    font-size: 1.5rem;
  }
}

//Product
.products {
  gap: 0;
  width: 100%;
  flex-wrap: wrap;
  border: 0 solid $border;
  border-width: 1px 0 0 1px;
}

.product {
  flex: 1 0 25%;
  max-width: 25%;
  width: 100%;
  border: 0 solid $border;
  border-width: 0 1px 1px 0;
  overflow: hidden;
  aspect-ratio: 2/3;
  justify-content: flex-end;
  h3 {
    font-size: 1rem;
    &:hover {
      color: inherit;
    }
  }
  > div {
    padding: 1rem;
    background-color: white;
    gap: 0.35rem;
    justify-content: space-between;
  }
  @media only screen and (max-width: 1250px) {
    flex: 1 0 33.33%;
    max-width: 33.33%;
  }
  @media only screen and (max-width: 760px) {
    flex: 1 0 50%;
    max-width: 50%;
  }
  @media only screen and (max-width: 480px) {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
.price-item {
  font-size: 0.7rem;
  font-weight: light;
}
.price > div {
  margin: 0;
}
.site-header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

//Footer
.site-footer{
  border-top: 1px solid $border;
}
// #2e2e2e