body {
  //   background-color: black;
}

// section hero
.hero__overlay {
  filter: brightness(0.8) invert(100%);
}
.hero__inner {
  h2 {
    font-size: 3.2rem;
    color: black;
    margin-bottom: 1rem;
  }
  p {
    color: black;
  }
}
